.subreddit-container {
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 100px 3px #ccc;
  color: rgb(88, 88, 88);
  margin-left: 20px;
}

.subreddit-container h2 {
  margin: 30px;
}

.subreddit-content {
  margin: 30px;
}

.subreddit-content:hover {
  background: #ccc;
  cursor: pointer;
}

.active {
  background: #c2c9ec;
}
.subreddit-titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  padding: 10px;
}

.subreddit-titles img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid black;
  margin-right: 10px;
}
